# Importing the dependencies

In [1]:
import pyspark

In [2]:
pip install pandas

Requirement already satisfied: pandas in ./env/lib/python3.8/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.20.3 in ./env/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in ./env/lib/python3.8/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in ./env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd.read_csv('Mall_Customers.csv')

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

# Creating SparkSession

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/11/14 14:00:56 WARN Utils: Your hostname, shubhams-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.2.136 instead (on interface en0)
22/11/14 14:00:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/14 14:00:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

spark is running in one data node local(one cluster)

In [7]:
#Reading the dataframe in pyspark
df_pyspark = spark.read.option('header','true').csv('Mall_Customers.csv', inferSchema=True)

In [8]:
#Checking the data type of the columns
df_pyspark.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income (k$): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)

In [9]:
#Alternative way to read the data in pyspark
df_pyspark=spark.read.csv('Mall_Customers.csv', header = True, inferSchema = True)

In [10]:
df_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [11]:
#df.info()
df_pyspark.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income (k$): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
#df.columns()
df_pyspark.columns

['CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [14]:
#df.head()
df_pyspark.head(10)

[Row(CustomerID=1, Genre='Male', Age=19, Annual Income (k$)=15, Spending Score (1-100)=39),
 Row(CustomerID=2, Genre='Male', Age=21, Annual Income (k$)=15, Spending Score (1-100)=81),
 Row(CustomerID=3, Genre='Female', Age=20, Annual Income (k$)=16, Spending Score (1-100)=6),
 Row(CustomerID=4, Genre='Female', Age=23, Annual Income (k$)=16, Spending Score (1-100)=77),
 Row(CustomerID=5, Genre='Female', Age=31, Annual Income (k$)=17, Spending Score (1-100)=40),
 Row(CustomerID=6, Genre='Female', Age=22, Annual Income (k$)=17, Spending Score (1-100)=76),
 Row(CustomerID=7, Genre='Female', Age=35, Annual Income (k$)=18, Spending Score (1-100)=6),
 Row(CustomerID=8, Genre='Female', Age=23, Annual Income (k$)=18, Spending Score (1-100)=94),
 Row(CustomerID=9, Genre='Male', Age=64, Annual Income (k$)=19, Spending Score (1-100)=3),
 Row(CustomerID=10, Genre='Female', Age=30, Annual Income (k$)=19, Spending Score (1-100)=72)]

Here we get the head in the form of list unlike pandas where we get it in the form of dataframe

In [15]:
#Selecting one particular row in the dataframe.
df_pyspark.select('CustomerID').show()

+----------+
|CustomerID|
+----------+
|         1|
|         2|
|         3|
|         4|
|         5|
|         6|
|         7|
|         8|
|         9|
|        10|
|        11|
|        12|
|        13|
|        14|
|        15|
|        16|
|        17|
|        18|
|        19|
|        20|
+----------+
only showing top 20 rows

In [16]:
#Multiple columns
df_pyspark.select(['CustomerID', 'Genre', 'Age']).show()

+----------+------+---+
|CustomerID| Genre|Age|
+----------+------+---+
|         1|  Male| 19|
|         2|  Male| 21|
|         3|Female| 20|
|         4|Female| 23|
|         5|Female| 31|
|         6|Female| 22|
|         7|Female| 35|
|         8|Female| 23|
|         9|  Male| 64|
|        10|Female| 30|
|        11|  Male| 67|
|        12|Female| 35|
|        13|Female| 58|
|        14|Female| 24|
|        15|  Male| 37|
|        16|  Male| 22|
|        17|Female| 35|
|        18|  Male| 20|
|        19|  Male| 52|
|        20|Female| 35|
+----------+------+---+
only showing top 20 rows

Slicing is not possible in pyspark

In [17]:
df_pyspark['Genre']

Column<'Genre'>

In [18]:
#df.dtypes
df_pyspark.dtypes

[('CustomerID', 'int'),
 ('Genre', 'string'),
 ('Age', 'int'),
 ('Annual Income (k$)', 'int'),
 ('Spending Score (1-100)', 'int')]

In [19]:
#df.describe()
df_pyspark.describe().show()

+-------+------------------+------+-----------------+------------------+----------------------+
|summary|        CustomerID| Genre|              Age|Annual Income (k$)|Spending Score (1-100)|
+-------+------------------+------+-----------------+------------------+----------------------+
|  count|               200|   200|              200|               200|                   200|
|   mean|             100.5|  null|            38.85|             60.56|                  50.2|
| stddev|57.879184513951124|  null|13.96900733155888| 26.26472116527124|    25.823521668370173|
|    min|                 1|Female|               18|                15|                     1|
|    max|               200|  Male|               70|               137|                    99|
+-------+------------------+------+-----------------+------------------+----------------------+

In [20]:
#Add Columns in dataframe
df_pyspark = df_pyspark.withColumn('Age after 2 years', df_pyspark['Age']+2)

In [21]:
df_pyspark.show()

+----------+------+---+------------------+----------------------+-----------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|Age after 2 years|
+----------+------+---+------------------+----------------------+-----------------+
|         1|  Male| 19|                15|                    39|               21|
|         2|  Male| 21|                15|                    81|               23|
|         3|Female| 20|                16|                     6|               22|
|         4|Female| 23|                16|                    77|               25|
|         5|Female| 31|                17|                    40|               33|
|         6|Female| 22|                17|                    76|               24|
|         7|Female| 35|                18|                     6|               37|
|         8|Female| 23|                18|                    94|               25|
|         9|  Male| 64|                19|                     3|               66|
|        10|Female| 30|                19|                    72|               32|
|        11|  Male| 67|                19|                    14|               69|
|        12|Female| 35|                19|                    99|               37|
|        13|Female| 58|                20|                    15|               60|
|        14|Female| 24|                20|                    77|               26|
|        15|  Male| 37|                20|                    13|               39|
|        16|  Male| 22|                20|                    79|               24|
|        17|Female| 35|                21|                    35|               37|
|        18|  Male| 20|                21|                    66|               22|
|        19|  Male| 52|                23|                    29|               54|
|        20|Female| 35|                23|                    98|               37|
+----------+------+---+------------------+----------------------+-----------------+
only showing top 20 rows

In [22]:
#Drop the columns
df_pyspark = df_pyspark.drop('Age after 2 years')

In [23]:
df_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [24]:
#Renaming the columns
df_pyspark = df_pyspark.withColumnRenamed('Genre', 'Gender')

In [25]:
df_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [26]:
data_pyspark = spark.read.csv('brittleness-index.csv', header = True, inferSchema = True)

In [27]:
data_pyspark.printSchema()

root
 |-- TK104: string (nullable = true)
 |-- TK105: string (nullable = true)
 |-- TK107: integer (nullable = true)

In [28]:
data_pyspark.show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|  254|  263|  338|
|  440|   NA|  470|
|  501|   NA|  558|
|  368|  451|  426|
|  697|  709|  733|
|  476|  542|  539|
|  188|  223|  240|
|  525|  659|  628|
|  451|  689|  517|
|  517|  509|  564|
|  370|  321|  435|
|   NA|  403|  306|
|   NA|  690|  558|
|   NA|  460|  358|
|  396|  492|  429|
|  279|  369|  291|
|  450|  507|  520|
|  422|  370|  491|
|  406|  378|  489|
|  425|  549|  479|
+-----+-----+-----+
only showing top 20 rows

In [29]:
#Drop the columns
data_pyspark.drop('TK104').show()

+-----+-----+
|TK105|TK107|
+-----+-----+
|  263|  338|
|   NA|  470|
|   NA|  558|
|  451|  426|
|  709|  733|
|  542|  539|
|  223|  240|
|  659|  628|
|  689|  517|
|  509|  564|
|  321|  435|
|  403|  306|
|  690|  558|
|  460|  358|
|  492|  429|
|  369|  291|
|  507|  520|
|  370|  491|
|  378|  489|
|  549|  479|
+-----+-----+
only showing top 20 rows

In [30]:
#replacing the column values in columns
data_pyspark = data_pyspark.na.replace('NA', None)

In [31]:
data_pyspark.show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|  254|  263|  338|
|  440| null|  470|
|  501| null|  558|
|  368|  451|  426|
|  697|  709|  733|
|  476|  542|  539|
|  188|  223|  240|
|  525|  659|  628|
|  451|  689|  517|
|  517|  509|  564|
|  370|  321|  435|
| null|  403|  306|
| null|  690|  558|
| null|  460|  358|
|  396|  492|  429|
|  279|  369|  291|
|  450|  507|  520|
|  422|  370|  491|
|  406|  378|  489|
|  425|  549|  479|
+-----+-----+-----+
only showing top 20 rows

In [32]:
#TypeCasting
from pyspark.sql.types import FloatType
  
data_pyspark = data_pyspark \
  .withColumn("TK104" ,
              data_pyspark["TK104"]
              .cast(FloatType()))   \
  .withColumn("TK105",
              data_pyspark["TK105"]
              .cast(FloatType()))
  
data_pyspark.printSchema()

root
 |-- TK104: float (nullable = true)
 |-- TK105: float (nullable = true)
 |-- TK107: integer (nullable = true)

In [33]:
#Drop the null value columns
data_pyspark.na.drop().show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
|544.0|631.0|  591|
|376.0|291.0|  428|
|335.0|410.0|  424|
+-----+-----+-----+

In [34]:
#any = how
data_pyspark.na.drop(how = "any").show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
|544.0|631.0|  591|
|376.0|291.0|  428|
|335.0|410.0|  424|
+-----+-----+-----+

In [35]:
#thresh=x:at least x non-null values must be present
data_pyspark.na.drop(how="any", thresh=3).show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
|544.0|631.0|  591|
|376.0|291.0|  428|
|335.0|410.0|  424|
+-----+-----+-----+

In [36]:
#subset:Dropping row from a particular column if missing
data_pyspark.na.drop(how='any', subset=['TK104']).show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|440.0| null|  470|
|501.0| null|  558|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
|544.0|631.0|  591|
|376.0|291.0|  428|
|335.0|410.0|  424|
+-----+-----+-----+

In [37]:
#Filling the missing values
data_pyspark.na.fill('Missing Values').show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|440.0| null|  470|
|501.0| null|  558|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
| null|403.0|  306|
| null|690.0|  558|
| null|460.0|  358|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
+-----+-----+-----+
only showing top 20 rows

In [38]:
#subset
data_pyspark.na.fill('Missing Values', ['TK104']).show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|440.0| null|  470|
|501.0| null|  558|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
| null|403.0|  306|
| null|690.0|  558|
| null|460.0|  358|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
+-----+-----+-----+
only showing top 20 rows

In [39]:
data_pyspark.show()

+-----+-----+-----+
|TK104|TK105|TK107|
+-----+-----+-----+
|254.0|263.0|  338|
|440.0| null|  470|
|501.0| null|  558|
|368.0|451.0|  426|
|697.0|709.0|  733|
|476.0|542.0|  539|
|188.0|223.0|  240|
|525.0|659.0|  628|
|451.0|689.0|  517|
|517.0|509.0|  564|
|370.0|321.0|  435|
| null|403.0|  306|
| null|690.0|  558|
| null|460.0|  358|
|396.0|492.0|  429|
|279.0|369.0|  291|
|450.0|507.0|  520|
|422.0|370.0|  491|
|406.0|378.0|  489|
|425.0|549.0|  479|
+-----+-----+-----+
only showing top 20 rows

In [40]:
#Imputation in pyspark
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['TK104', 'TK105'],
    outputCols=["{}_imputed".format(col) for col in ['TK104', 'TK105']]
    ).setStrategy("median")

In [41]:
imputer.fit(data_pyspark).transform(data_pyspark).show()

+-----+-----+-----+-------------+-------------+
|TK104|TK105|TK107|TK104_imputed|TK105_imputed|
+-----+-----+-----+-------------+-------------+
|254.0|263.0|  338|        254.0|        263.0|
|440.0| null|  470|        440.0|        460.0|
|501.0| null|  558|        501.0|        460.0|
|368.0|451.0|  426|        368.0|        451.0|
|697.0|709.0|  733|        697.0|        709.0|
|476.0|542.0|  539|        476.0|        542.0|
|188.0|223.0|  240|        188.0|        223.0|
|525.0|659.0|  628|        525.0|        659.0|
|451.0|689.0|  517|        451.0|        689.0|
|517.0|509.0|  564|        517.0|        509.0|
|370.0|321.0|  435|        370.0|        321.0|
| null|403.0|  306|        422.0|        403.0|
| null|690.0|  558|        422.0|        690.0|
| null|460.0|  358|        422.0|        460.0|
|396.0|492.0|  429|        396.0|        492.0|
|279.0|369.0|  291|        279.0|        369.0|
|450.0|507.0|  520|        450.0|        507.0|
|422.0|370.0|  491|        422.0|        370.0|
|406.0|378.0|  489|        406.0|        378.0|
|425.0|549.0|  479|        425.0|        549.0|
+-----+-----+-----+-------------+-------------+
only showing top 20 rows

# Filter Operation in Pyspark

In [42]:
df_pyspark.show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         1|  Male| 19|                15|                    39|
|         2|  Male| 21|                15|                    81|
|         3|Female| 20|                16|                     6|
|         4|Female| 23|                16|                    77|
|         5|Female| 31|                17|                    40|
|         6|Female| 22|                17|                    76|
|         7|Female| 35|                18|                     6|
|         8|Female| 23|                18|                    94|
|         9|  Male| 64|                19|                     3|
|        10|Female| 30|                19|                    72|
|        11|  Male| 67|                19|                    14|
|        12|Female| 35|                19|                    99|
|        13|Female| 58|                20|                    15|
|        14|Female| 24|                20|                    77|
|        15|  Male| 37|                20|                    13|
|        16|  Male| 22|                20|                    79|
|        17|Female| 35|                21|                    35|
|        18|  Male| 20|                21|                    66|
|        19|  Male| 52|                23|                    29|
|        20|Female| 35|                23|                    98|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [43]:
#Age of customerID more than 20
df_pyspark.filter("Age > 40").show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         9|  Male| 64|                19|                     3|
|        11|  Male| 67|                19|                    14|
|        13|Female| 58|                20|                    15|
|        19|  Male| 52|                23|                    29|
|        23|Female| 46|                25|                     5|
|        25|Female| 54|                28|                    14|
|        27|Female| 45|                28|                    32|
|        31|  Male| 60|                30|                     4|
|        33|  Male| 53|                33|                     4|
|        35|Female| 49|                33|                    14|
|        37|Female| 42|                34|                    17|
|        41|Female| 65|                38|                    35|
|        43|  Male| 48|                39|                    36|
|        45|Female| 49|                39|                    28|
|        47|Female| 50|                40|                    55|
|        51|Female| 49|                42|                    52|
|        54|  Male| 59|                43|                    60|
|        55|Female| 50|                43|                    45|
|        56|  Male| 47|                43|                    41|
|        57|Female| 51|                44|                    50|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [44]:
df_pyspark.filter("Age > 40").select(['CustomerID', 'Gender']).show()

+----------+------+
|CustomerID|Gender|
+----------+------+
|         9|  Male|
|        11|  Male|
|        13|Female|
|        19|  Male|
|        23|Female|
|        25|Female|
|        27|Female|
|        31|  Male|
|        33|  Male|
|        35|Female|
|        37|Female|
|        41|Female|
|        43|  Male|
|        45|Female|
|        47|Female|
|        51|Female|
|        54|  Male|
|        55|Female|
|        56|  Male|
|        57|Female|
+----------+------+
only showing top 20 rows

In [45]:
df_pyspark.filter(df_pyspark['Age']>60).show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         9|  Male| 64|                19|                     3|
|        11|  Male| 67|                19|                    14|
|        41|Female| 65|                38|                    35|
|        58|  Male| 69|                44|                    46|
|        61|  Male| 70|                46|                    56|
|        63|Female| 67|                47|                    52|
|        65|  Male| 63|                48|                    51|
|        68|Female| 68|                48|                    48|
|        71|  Male| 70|                49|                    55|
|        83|  Male| 67|                54|                    41|
|        91|Female| 68|                59|                    55|
|       103|  Male| 67|                62|                    59|
|       107|Female| 66|                63|                    50|
|       109|  Male| 68|                63|                    43|
|       110|  Male| 66|                63|                    48|
|       111|  Male| 65|                63|                    52|
|       117|Female| 63|                65|                    43|
+----------+------+---+------------------+----------------------+

In [46]:
#Two different condition
df_pyspark.filter((df_pyspark['Age']>60) & (df_pyspark['Gender'] == 'Male')).show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         9|  Male| 64|                19|                     3|
|        11|  Male| 67|                19|                    14|
|        58|  Male| 69|                44|                    46|
|        61|  Male| 70|                46|                    56|
|        65|  Male| 63|                48|                    51|
|        71|  Male| 70|                49|                    55|
|        83|  Male| 67|                54|                    41|
|       103|  Male| 67|                62|                    59|
|       109|  Male| 68|                63|                    43|
|       110|  Male| 66|                63|                    48|
|       111|  Male| 65|                63|                    52|
+----------+------+---+------------------+----------------------+

In [47]:
#Inverse filter operation in pyspark
df_pyspark.filter(~(df_pyspark['Age']<60)).show()

+----------+------+---+------------------+----------------------+
|CustomerID|Gender|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|         9|  Male| 64|                19|                     3|
|        11|  Male| 67|                19|                    14|
|        31|  Male| 60|                30|                     4|
|        41|Female| 65|                38|                    35|
|        58|  Male| 69|                44|                    46|
|        61|  Male| 70|                46|                    56|
|        63|Female| 67|                47|                    52|
|        65|  Male| 63|                48|                    51|
|        68|Female| 68|                48|                    48|
|        71|  Male| 70|                49|                    55|
|        73|Female| 60|                50|                    49|
|        74|Female| 60|                50|                    56|
|        83|  Male| 67|                54|                    41|
|        91|Female| 68|                59|                    55|
|       103|  Male| 67|                62|                    59|
|       107|Female| 66|                63|                    50|
|       109|  Male| 68|                63|                    43|
|       110|  Male| 66|                63|                    48|
|       111|  Male| 65|                63|                    52|
|       117|Female| 63|                65|                    43|
+----------+------+---+------------------+----------------------+

# GroupBy and Aggregate operation in pyspark

In [48]:
test_pyspark = spark.read.option('header','true').csv('test.csv', inferSchema=True)

In [49]:
test_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [50]:
test_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [51]:
#GroupBy and aggregate function works together
#Grouped to retrieve the max salary
test_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [52]:
#GroupBy Departments which give max salary
test_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [53]:
test_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [54]:
test_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [55]:
#Directly applying the aggregate function
test_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [56]:
test_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [57]:
test_pyspark.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

# Spark MLlib

In [58]:
train_pyspark = spark.read.option('header','true').csv('ML.csv', inferSchema=True)

In [59]:
train_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [60]:
train_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [61]:
train_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In pyspark we dont do train-test split instead we use the VectorAssembler

['age','Experience']-------> new feature--------> independent feature

In [62]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age", "Experience"], outputCol="Independent Feature")

In [63]:
output = featureassembler.transform(train_pyspark)

In [64]:
output.show()

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [65]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Feature']

In [66]:
finalized_data = output.select("Independent Feature", "Salary")

In [67]:
finalized_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

In [68]:
from pyspark.ml.regression import LinearRegression
#train-test split
train_data, test_data = finalized_data.randomSplit([0.70,0.30])
#Training
regressor = LinearRegression(featuresCol='Independent Feature', labelCol='Salary')
regressor = regressor.fit(train_data)

22/11/14 14:01:20 WARN Instrumentation: [8bba3332] regParam is zero, which might cause numerical instability and overfitting.
22/11/14 14:01:21 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/11/14 14:01:21 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
22/11/14 14:01:21 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [69]:
regressor.coefficients

DenseVector([-64.8464, 1584.7554])

In [70]:
regressor.intercept

15414.10693970376

In [71]:
pred_results = regressor.evaluate(test_data)

In [72]:
pred_results.predictions.show()

+-------------------+------+------------------+
|Independent Feature|Salary|        prediction|
+-------------------+------+------------------+
|         [24.0,3.0]| 20000|18612.059158134223|
+-------------------+------+------------------+

In [73]:
#Performance params
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1387.9408418657767, 1926379.780519081)